* {
  font-family: system-ui;
}

.card-list {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    background-color: #95dada;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

.button-width {
  width: 100%;
}

Label {
  box-sizing: border-box;
  min-width: 0px;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  margin: 0px;
}